<div>
  <mat-toolbar color="primary">
    <button
      mat-icon-button
      class="icon"
      aria-label="Example icon-button with menu icon"
      [matMenuTriggerFor]="menu"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <app-menu></app-menu>
    </mat-menu>


    <span [routerLink]="['/']">NG Test Dashboard</span>
    <span class="spacer"></span>
    <button
      mat-icon-button
      class="icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>favorite</mat-icon>
    </button>
    <button
      mat-icon-button
      class="icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</div>
