.mat-mdc-menu-panel {
  background-color: #3f51b5 !important; /* Set background color */
  border: none; /* Set border */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add box shadow */
}

.mat-mdc-menu-item {
  color: white !important;
}

.mat-mdc-menu-item-text {
  display: flex;
  gap: 8px
}

.mat-mdc-menu-item-text img {
  width: 17px;
}

