<div class="home">
  <div class="box box-1"><app-top-box></app-top-box></div>
  <div class="box box-2"><app-line-chart-box [data]="chartBoxUser"></app-line-chart-box></div>
  <div class="box box-3"><app-line-chart-box [data]="chartBoxProduct"></app-line-chart-box></div>
  <div class="box box-4"><app-pie-chart-box></app-pie-chart-box></div>
  <div class="box box-5"><app-line-chart-box [data]="chartBoxRevenue"></app-line-chart-box></div>
  <div class="box box-6"><app-line-chart-box [data]="chartBoxConversion"></app-line-chart-box></div>
  <div class="box box-7"><app-big-chart-box></app-big-chart-box></div>
  <div class="box box-8"><app-bar-chart-box [data]="visitData"></app-bar-chart-box></div>
  <div class="box box-9"><app-bar-chart-box [data]="revenueData"></app-bar-chart-box></div>
</div>
